<!doctype html>
<html lang="en" data-ng-app="appJava">
<head data-ng-controller="headController">
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.brown-deep_orange.min.css">
	<script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
	<script src="src/lib/application.js" type="text/javascript"></script>
	<meta name="viewport" content="width=device-width initial-scale=1.0" />
	<title data-ng-bind="titulo"></title>
	
	<style>
		.card-cliente {
			width: 80%;
			margin: 5% auto;
		}
		
		.table-clientes {
			width: 100%;
		}
		
		.table-head th, .table-clientes tbody tr td {
			text-align: left;
		}
		
		.panel-buttons-controller {
			box-sizing: border-boxing;
			padding: 8px;
		}
		
		.coluna-40 {
			width: 40%;
		}
		
		.coluna-20 {
			width: 20%;
		}
		
		.card-table-lista {
			margin: 0 auto;
		}
		
		.table-row {
			opacity: 1;
		}
		
		.table-row.ng-hide {
			opacity: 0;
			transition:1s linear all;	
		}
	</style>
</head>
<body data-ng-controller="appController">
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<header class="mdl-layout__header">
			<div class="mdl-layout__header-row">
				<span class="mdl-layout-title">{{name}}</span>
				<div class="mdl-layout-spacer"></div>
				<nav class="mdl-navigation mdl-layout--large-screen-only">
					<a href="" class="mdl-navigation__link">Cliente</a>
					<a href="" class="mdl-navigation__link">Serviço</a>
					<a href="" class="mdl-navigation__link">Chat<span class="mdl-badge" data-badge="{{quantidadeMensagemNotificacao}}"></span></a>
				</nav>
			</div>
		</header>
		<div class="mdl-layout__drawer">
			<span class="mdl-layout-title">{{name}}</span>
			<nav class="mdl-navigation">
				<a href="" class="mdl-navigation__link">Teste</a>
				<a href="" class="mdl-navigation__link">Teste</a>
				<a href="" class="mdl-navigation__link">Teste</a>
				<a href="" class="mdl-navigation__link">Teste</a>
				<a href="" class="mdl-navigation__link">Teste</a>
				<a href="" class="mdl-navigation__link">Teste</a>
				<a href="" class="mdl-navigation__link">Teste</a>
			</nav>
		</div>
		<main class="mdl-layout__content">
			<div class="page-content">
				<div class="mdl-card card-cliente mdl-shadow--2dp" data-ng-controller="listaController">
					<div class="mdl-card__title">
						<h2 class="mdl-card__title-text">Clientes</h2>
					</div>
					<div class="mdl-card__supporting-text card-table-lista">
						<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp table-clientes">
							<thead>
								<tr class="table-head">
									<th class="coluna-40">Nome</th>
									<th class="coluna-20">Idade</th>
									<th class="coluna-40">Email</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="cliente in clientes" data-ng-dblclick="selecionarPessoa(cliente)" class="table-row">
									<td class="mdl-data-table__cell--non-numeric">{{cliente.nome}}</td>
									<td class="mdl-data-table__cell--non-numeric">{{cliente.idade}}</td>
									<td class="mdl-data-table__cell--non-numeric">{{cliente.email}}</td>
									<td><a href="" data-ng-click="excluirPessoa($index)"><i class="material-icons">clear</i></a></td>
								</tr>
							</tbody>
						</table>
					</div>	
					<div class="mdl-card__actions mdl-card--border">
						<div class="formulario-cadastro">
							<div class="mdl-grid">
								<div class="mdl-cell mdl-cell--4-col  mdl-textfield mdl-js-textfield">
									<input id="clienteNome" type="text" class="mdl-textfield__input" data-ng-model="cliente.nome"/>
									<label for="clienteNome" class="mdl-textfield__label">Nome</label>
								</div>
								<div class="mdl-cell mdl-cell--4-col  mdl-textfield mdl-js-textfield">
									<input id="clienteIdade" type="text" class="mdl-textfield__input" pattern="[0-9]{2,3}" data-ng-model="cliente.idade"/>
									<label for="clienteIdade" class="mdl-textfield__label">Idade</label>
								</div>						
								<div class="mdl-cell mdl-cell--4-col  mdl-textfield mdl-js-textfield">
									<input id="clienteEmail" type="email" class="mdl-textfield__input" data-ng-model="cliente.email" />
									<label for="clienteEmail" class="mdl-textfield__label">Email</label>
								</div>									
							</div>
							
							<div class="panel-buttons-controller">
								<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" data-ng-click="adicionarCliente(cliente)"
									data-ng-show="!cliente.id">
									Salvar
								</button>
								<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" data-ng-click="alterarCliente(cliente)"
									data-ng-show="cliente.id">
									Alterar
								</button>
								<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" data-ng-click="cancelar()">
									Cancelar
								</button>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</main>
	</div>
</body>
</html>